<!DOCTYPE html>
<html>
<head>
    <title>House Price Prediction</title>
</head>
<body>
    <h2>Enter House Details for Prediction</h2>
    <form action="/predict" method="post">
        <label>Number of Rooms:</label>
        <input type="text" name="Rooms"><br>
        <label>Distance to CBD:</label>
        <input type="text" name="Distance"><br>
        <label>Land Size:</label>
        <input type="text" name="Landsize"><br>
        <label>Building Area:</label>
        <input type="text" name="BuildingArea"><br>
        <label>Year Built:</label>
        <input type="text" name="YearBuilt"><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>
